<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>P.N PUBLIC SCHOOL</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="css/pn.css" rel="stylesheet">
</head>

<body>
  <!--Nav bar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="images/27.gif" id="imgnav"></a>
      <a class="navbar-brand" href="#">P N PUBLIC SCHOOL </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--modal home-->
            <a class="nav-link active" aria-current="page" href="#">
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#home">Home</span>
            </a>
            <!---->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#about">About</span>

            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#facality">Facalities</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#clubs">Clubs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registerNew">
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#career">Career</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <!-- Button trigger modal -->
              <span data-bs-toggle="modal" data-bs-target="#extracourses">Extra Courses</span>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Important Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>

        </ul>

      </div>
    </div>
  </nav>
  <!--address Bar-->
  <div class="p">
    <marquee BEHAVIOR="alternate" scrollamount="2"><a href="#">Address : New Siddhartha Nagar Coloney, Gorakhpur, Uttar Pradesh</a> &nbsp;&nbsp; <a href="">Contact &gtcc; 7236019575</a></marquee>
  </div>

  <!-- Revollutionary div-->
  <div id="revolutionaries">
    <marquee BEHAVIOR="alternate" scrollamount="2">
      <img src="images/2.jpg" class="revolutionaries">
      <img src="images/3.jpg" class="revolutionaries">
      <img src="images/4.jpg" class="revolutionaries">
      <img src="images/5.jpg" class="revolutionaries">
      <img src="images/6.jpg" class="revolutionaries">
      <img src="images/7.jpg" class="revolutionaries">
      <img src="images/2.jpg" class="revolutionaries">
      <img src="images/3.jpg" class="revolutionaries">
      <img src="images/4.jpg" class="revolutionaries">
      <img src="images/5.jpg" class="revolutionaries">
      <img src="images/6.jpg" class="revolutionaries">
      <img src="images/7.jpg" class="revolutionaries">
      <img src="images/2.jpg" class="revolutionaries">
      <img src="images/3.jpg" class="revolutionaries">
      <img src="images/4.jpg" class="revolutionaries">
      <img src="images/5.jpg" class="revolutionaries">
      <img src="images/6.jpg" class="revolutionaries">
      <img src="images/7.jpg" class="revolutionaries">
    </marquee>
  </div>

  <!--welcome div-->
  <div class="welcomeDiv">
    <h1> P N &nbsp; PUBLIC&nbsp; SCHOOL </h1>
  </div>

  <!--containers of director's message-->
  <div class="container-fluid" id="container-f">
    <div class="lcd">
      <div class="heading">DIRECTOR'S DESK </div>
      <img src="images/2.jpg" class="container-image"><br /><br />
      <div class="namefoot"> Shri Chandra Shekhar Azad</div>
    </div>
    <div class="lcd">
      <div class="heading">PRINCIPAL'S DESK</div>
      <img src="images/3.jpg" class="container-image"><br /><br />
      <div class="namefoot"> Shri Subash Chandra Bose</div>
    </div>
    <div class="lcd" id="notice">
      <div class="heading">NOTICE &nbsp;&nbsp;
        <!-- Button trigger modal -->
        <span data-bs-toggle="modal" data-bs-target="#add_btn_modal" class="add_btn">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </div><br />
      <div class="textfoot">No Current Notice</div>
    </div>
    <div class="lcd">
      <div class="heading">FEE NOTIFICATION &nbsp;&nbsp;
        <!-- Button trigger modal -->
        <span data-bs-toggle="modal" data-bs-target="#add_btn_modal" class="add_btn">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </div><br />
      <div class="textfoot">No Current Notification</div>
    </div>

    <div class="lcd">
      <div class="heading">HAPPENINGS&nbsp;&nbsp;
        <!-- Button trigger modal -->
        <span data-bs-toggle="modal" data-bs-target="#add_btn_modal" class="add_btn">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </div><br />
      <div class="textfoot">No Current Happenings</div>
    </div>

    <div class="lcd">
      <div class="heading">CLUBS NEWS&nbsp;&nbsp;
        <!-- Button trigger modal -->
        <span data-bs-toggle="modal" data-bs-target="#add_btn_modal" class="add_btn">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </div><br />
      <div class="textfoot">No News From Clubs</div>
    </div>
    <div class="lcd">
      <div class="heading">LIVE CLASSES</div>
      <a href="https://www.youtube.com">
        <div id="marquee">
          <marquee BEHAVIOR="alternate" scrollamount="2">
            <img src="images/images.png" class="container-image"><br>
          </marquee>
        </div>
        <div class="namefoot"> Click For Demo</div>
      </a>
    </div>
    <div class="lcd">
      <div class="heading">TIP OF THE DAY&nbsp;&nbsp;
        <!-- Button trigger modal -->
        <span data-bs-toggle="modal" data-bs-target="#add_btn_modal" class="add_btn">&nbsp;&nbsp;+&nbsp;&nbsp;</span>
      </div><br />
      <div class="textfoot">Healthy deit must include protiens so have some pulses and grains in your food
        <br><br> :- Shubham Pandey
      </div>
    </div>
  </div>

  <!--contact div-->
  <div class="contact">
    <!--cean india and green india div-->
    <div class="contact_child">
      <img src="images/download.jpeg" id="contact_image"><br>
      <p class="contact_img_label">CLEAN INDIA, GREEN INDIA</p>
    </div>
    <!--social media div-->
    <div class="contact_child">
      <div style="float: left; width: 100%;margin-top: 10%; ">
        <img src="images/36.png" class="social_media">
        <a href="https://www.facebook.com/pnpublics/"><img src="images/37.png" class="social_media"></a>
        <a href="https://www.facebook.com/pnpublics/?tn-str=k*F"><img src="images/38.jpg" class="social_media"></a>
        <img src="images/39.jpg" class="social_media">
        <a href="https://api.whatsapp.com/send?phone=919236717364&app=facebook&entry_point=page_cta"><img src="images/40.jpg" class="social_media"></a>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="images/35.png" class="social_media" id="call"> <span class="contact_img_label_call">Contact :- 7236019575</span><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <img src="images/41.png" class="social_media" id="mail"><span class="contact_img_label_call">Mail :- abc@gmail.com</span>
      <br><br>
      <a
        href="https://www.google.com/maps/dir/26.7271844,83.38378/P.N.+PUBLIC+SCHOOL,+Khorabar,+Gorakhpur,+Uttar+Pradesh+273008/@26.7258241,83.3695797,13z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x39915d2ce6c412c1:0xf70f78ae8b261e42!2m2!1d83.4335319!2d26.7206878">
        <img src="images/43.gif" class="social_media" id="location"><span id="address">&nbsp;Address :- Taramandal Road, Gorakhpur (273212)&nbsp;</span>
      </a>

    </div><br><br>

  </div>

  <div>sdfgdb</div>

  <!--modals definition-->
  <!-- Modal Home -->
  <div class="modal fade" id="home" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><img src="images/234.jpg">HOME</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="images/235.jpg" class="popup_img">
          <div class="popup_label">गुरुर ब्रम्हा गुरुर विष्णू गुरुः देवो महेश्वरा गुरुर शाक्षात परब्रम्हा तस्मै श्री गुरुवे नमः
          </div>

          <audio autoplay>
            <source src="a1.mp3" type="audio/mpeg">
          </audio>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal ABOUT -->
  <div class="modal fade" id="about" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><img src="images/70.jpg" class="lango" width="100px">&nbsp;&nbsp;ABOUT US</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="images/235.jpg" class="popup_img"><br><br><br>
          <h3>Who we are ?</h3>
          <div class="popup_label">
            P N Public School is one of the best school in Gorakhpur. We are the trust of 500<sup>+</sup> parents, with an aim of enlightening India and help students in their career pathways. The main motto of our organisation is to build
            a confidence and to develop a sense of responsibility among students, which is helpul in making them a good and responsible citizen of India, which enhance the future of our nation.
          </div><br>
          <h3>Mission </h3>
          <div class="popup_label">
            Our mission is to educate India from village to city.
          </div><br>
          <h3>Vision </h3>
          <div class="popup_label">
            Our vision is to provide a better future to our students and our nation both. It is said "Youngester's are nation's future" so we are developing our youngsters.
          </div><br><br>

          <h2>&nbsp;&nbsp;<b>" THINK BIG AND FLY HIGH "</b></h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal facality-->
  <div class="modal fade" id="facality" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><img src="images/45.jpg" class="lango" width="100px" height="40px">&nbsp;&nbsp;FACALITIES</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Interactive Classrooms &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br>We provide our students an interactive classrooms where they can communicate with their teachers and assistants to clear their doubts on the spot.
          </div><br>

          <h3>Smart Classes &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br>"Practical has greater impact than theoroticals" Our organisation has smart classrooms which help to students to learn everything visually and practically.
          </div><br>

          <h3>Experienced Faculties &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br>Our teachers are 3 to 5 years experienced in their respective field of specialisation with a apprasiabe educational qualification in their respective fields.
          </div><br>

          <h3>Zoom online sessions &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br>We have the facality to provide our students an online doubt clearing sessions via zoom platform.
          </div><br>

          <h3>Transportation &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br>We provide a better transportation facalities in nearby locality where we can reach via bus, autorikshaw and school vans.
          </div><br>

          <h3>Playground &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> " Health is wealth " so we facaliates our students a large, eco-friendly and playful environment where they can play, enjoy and share thier thoughts
          </div><br>

          <h3>Library &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> We have a centeral library inside our campus where your ward get a pacific environment to study,learn and grow.
          </div><br><br>

          <div class="popup_label">
            Simply our campus is full of all other modern amenities either in field of technology or in extracurriculars.
          </div><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal Clubs-->
  <div class="modal fade" id="clubs" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><img src="images/42.jpg" width="100px" height="40px" class="lango">&nbsp;&nbsp;CLUBS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>August House &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> Honour To => Omnipotent Maharishi August<br>
            Dress Code => Green T - shirt and white trouser<br>
            Motto => Introduce students about Indian culture<br>
          </div><br>

          <h3>Vyas House &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> Honour To => Omnipotent Maharishi Vyas<br>
            Dress Code => Yellow T - shirt and white trouser<br>
            Motto => Learn about India's ancient era<br>
          </div><br>

          <h3>Vasistha House &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> Honour To => Omnipotent Maharishi Vasistha<br>
            Dress Code => Red T - shirt and white trouser<br>
            Motto => Let focus on vedic maths<br>
          </div><br>

          <h3> Bhrigu House &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> Honour To => Omnipotent Maharishi Bhrigu<br>
            Dress Code => Blue T - shirt and white trouser<br>
            Motto => Let learn our Vedas<br>
          </div><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal career-->
  <div class="modal fade" id="career" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><img src="images/70.jpg" class="lango" width="100px">&nbsp;&nbsp;CAREER</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="images/25.jpg">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal extra course-->
  <div class="modal fade" id="extracourses" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel"><img src="images/36.png" width="100px" height="40px" class="lango">&nbsp;&nbsp;EXTRA COURSES</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Competitive English &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> 1) <a href="https://youtu.be/vsky5jW4muc">Noun</a>&nbsp;&nbsp;
            2) <a href="https://youtu.be/TOsNcqImhzI">Pronoun</a>&nbsp;&nbsp;
            3) <a href="https://youtu.be/tNzSrEkx6bM">Adjective</a>&nbsp;&nbsp;
            4) <a href="https://youtu.be/CvZm15LrL1A">Verb</a>&nbsp;&nbsp;
            5) <a href="https://youtu.be/dPpzLT48yKM">Adverb</a>&nbsp;&nbsp;
            6) <a href="https://youtu.be/Kwtm_Awg-lE">Preposition</a>&nbsp;&nbsp;
            7) <a href="https://youtu.be/XzVFbfdymas">Conjuction</a>&nbsp;&nbsp;
            8) <a href="https://youtu.be/nCELW-w8kM0">Part of speech</a>&nbsp;&nbsp;
            9) <a href="https://youtube.com/playlist?list=PLWhRzS3SiYCaRKJnmyvLagzuba3g5kU3V">More.......</a>
          </div><br>

          <h3>Competitive Maths &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> <br>
            <a href="https://youtube.com/playlist?list=PLhrnHPBcOqMlMqbOYAJ5JS3RQbNXFZjlx">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click
              to learn Competitive Maths</a>&nbsp;&nbsp;
            <a href="https://youtube.com/playlist?list=PLhrnHPBcOqMkgNnCTiqhTJm_LY9C1nWXV">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click
              to learn board exam Maths</a>&nbsp;&nbsp;

          </div><br>

          <h3>Competitive Science &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br><br> <a
              href="https://youtube.com/playlist?list=PLIlJ3MdWYpoezDYIqj_iec62otlKntgSS">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click
              to learn competitve science</a>
          </div><br>

          <h3>Social Science &nbsp;&gtcc;</h3>
          <div class="popup_label">
            <img src="images/44.jpg" width="100%" height="100px">
            <br> <br><a href="https://youtube.com/playlist?list=PLZfz5K8XpMW1BCazrkRFzS9NxCZVMiXcM">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Click to learn Modern
              History and More...</a>

          </div><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal add_btn_modal-->
  <div class="modal fade" id="add_btn_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What's In Your Mind</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Subject:</label>
              <select class="form-select" aria-label="Default select example" id="selected_optn">
                <option value="NOTICE" selected>NOTICE</option>
                <option value="FEE">FEE NOTIFICATION</option>
                <option value="HAPPENINGS">HAPPENINGS</option>
                <option value="CLUBS">CLUBS NEWS</option>
                <option value="TIP">TIP OF THE DAY</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Message:</label>
              <textarea class="form-control" id="message_text" placeholder="What's New"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
          <button type="button" class="btn btn-primary" id="POST">POST</button>
        </div>
      </div>
    </div>
  </div>







</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script src="pn.js"></script>
<script type="text/javascript" src="pn.json"></script>

</html>
