<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
    <center>
      <form class="" action="/register" method="post">
        <label for="">Candidate Name : </label>
        <input type="text" name="name" value=""><br>
        <label for="">Address : </label>
        <input type="text" name="address" value=""><br>
        <label for="">Candidate Degree : </label>
        <input type="text" name="degree" value=""><br>
        <label for="">Phone No : </label>
        <input type="number" name="mno" value=""><br>
        <label for="">Email : </label>
        <input type="email" name="email" value=""><br>
        <input type="submit" name="" value="Submit">
      </form>

      <% if(typeof message != "undefined" && message) { %>
      <h4 class="alert alert-danger mt-4"> <%=message%> </h4>
      <% } %>
    </center
  </body>
</html>
